<a href="https://colab.research.google.com/github/minkyungcho/ChatBot_SW_Quest/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# Series 객체 생성
import pandas as pd
data = ['2016', '2017', '2018', '2019']
result = pd.Series(data)
print(result)

# Series 객체 속성
# series 객체의 인덱스
result.index

# Series 객체의 모든 데이터 값(value)
result.values

# Series 객체 속성 변경
# 객체의 이름 지정하기
result.name = 'Year'
print(result)

# 객체의 인덱스명 지정하기
result.index.name = 'No'
print(result)

# 인덱스를 지정하여 series 객체 생성하기
result = pd.Series(data, index=['a','b','c','d'])
print(result)
result.index

# 딕셔너리를 이용하 series 객체 생성하기 {'인덱스값':'값', ...}
score = {'Kim':85, 'Hwang':100, 'Lee':99, 'Choi':80}
result = pd.Series(score)
print(result)
result.index
result.values

# Series 객체 접근
# 인덱스를 통해 접근
result['Lee']
result['Hwang']

0    2016
1    2017
2    2018
3    2019
dtype: object
0    2016
1    2017
2    2018
3    2019
Name: Year, dtype: object
No
0    2016
1    2017
2    2018
3    2019
Name: Year, dtype: object
a    2016
b    2017
c    2018
d    2019
dtype: object
Kim       85
Hwang    100
Lee       99
Choi      80
dtype: int64

100

In [28]:
import pandas as pd
# DataFrame 객체 생성
# DataFrame 을 구성할 데이터는 파이썬의 딕셔너리로 정의할 수 있다.
# 딕셔너리 형태로 데이터 구성하기
data = {'name':['Lee', 'Hwang', 'Kim', 'Choi'],'score':[100,95,90,85], 'grade':['A','A','B','B']}

# 행과 열을 가진 데이터 구조가 생성된다.
df = pd.DataFrame(data)
print(df)
# index
print(df.index)
# 컬럼
print(df.columns)
# 데이터 값 value
print(df.values)
# index, columns 명 지정
df.index.name = 'No'
df.columns.name = 'Info'
print(df)
# 각 column 지정하여 dataframe 객체 생성하기
data = {'name':['Lee','Hwang','Kim','Choi'], 'score':[100,95,90,85], 'grade':['A','A','B','B']}
c = ['name', 'grade', 'score', 'etc']
df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data, columns=c)
print(df1)
print(df2)
# df2 객체는 column의 순서가 변경되었고, NaN라는 데이터를 가진 새로운 etc 열이 추가됨

# NaN(Not a Number)
# 새로운 행/열이 추가 되었는데 초기화된 값이 없다면, NaN으로 채워지고, 이는 null 과 유사한 개념이다.
score = {'Kim':85,'Hwang':100, 'Lee':99, 'Choi':80}
students = ['Hwang', 'Lee', 'Woo']
result = pd.Series(score, index=students)
print(result)

    name  score grade
0    Lee    100     A
1  Hwang     95     A
2    Kim     90     B
3   Choi     85     B
RangeIndex(start=0, stop=4, step=1)
Index(['name', 'score', 'grade'], dtype='object')
[['Lee' 100 'A']
 ['Hwang' 95 'A']
 ['Kim' 90 'B']
 ['Choi' 85 'B']]
Info   name  score grade
No
0       Lee    100     A
1     Hwang     95     A
2       Kim     90     B
3      Choi     85     B
    name  score grade
0    Lee    100     A
1  Hwang     95     A
2    Kim     90     B
3   Choi     85     B
    name grade  score  etc
0    Lee     A    100  NaN
1  Hwang     A     95  NaN
2    Kim     B     90  NaN
3   Choi     B     85  NaN
Hwang    100.0
Lee       99.0
Woo        NaN
dtype: float64

In [50]:
# DataFrame 객체 생성 연습
import pandas as pd
data = {'name':['David', 'Roy', 'Tina', 'Kim'], 'score':[78,64,70,62], 'grade':['C','D','C','D']}
df = pd.DataFrame(data)
df.index.name = "No"
df.columns.name = "Info"
print(df)

c = ['name', 'grade', 'score', 'etc']
df2 = pd.DataFrame(data, columns=c)
print(df2)

# 인덱스 조회
print(df.index)
print(df2.index)
# 컬럼 조회
print(df.columns)
print(df2.columns)
# 데이터값 조회
print(df.values)
print(df2.values)

# etc 열 값을 아래와 같이 지정하여 변경
df2['etc'] = [99,88,77,66]
print(df2)

Info   name  score grade
No
0     David     78     C
1       Roy     64     D
2      Tina     70     C
3       Kim     62     D
    name grade  score  etc
0  David     C     78  NaN
1    Roy     D     64  NaN
2   Tina     C     70  NaN
3    Kim     D     62  NaN
RangeIndex(start=0, stop=4, step=1, name='No')
RangeIndex(start=0, stop=4, step=1)
Index(['name', 'score', 'grade'], dtype='object', name='Info')
Index(['name', 'grade', 'score', 'etc'], dtype='object')
[['David' 78 'C']
 ['Roy' 64 'D']
 ['Tina' 70 'C']
 ['Kim' 62 'D']]
[['David' 'C' 78 nan]
 ['Roy' 'D' 64 nan]
 ['Tina' 'C' 70 nan]
 ['Kim' 'D' 62 nan]]
    name grade  score  etc
0  David     C     78   99
1    Roy     D     64   88
2   Tina     C     70   77
3    Kim     D     62   66

In [48]:
import pandas as pd
data = {'name':['Lee','Hwang','Kim','Choi'], 'score':[100,95,90,85], 'grade':['A','A','B','B']}
c = ['name', 'grade', 'score', 'etc']
df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data, columns=c)
print(df1)
print(df2)

# 객체의 열 데이터 가져오기
print(df2['name'])
print(df2.name)
# 복수개의 열 데이터 가져오기
print(df2[['name','grade']])
print(df2[['etc','name']])
# 특정 열의 값을 각각 지정하여 변경할 수 있다.
df2['etc'] = [11,22,33,44]
print(df2)
# 특정 열의 값을 일괄적으로 변경할 수 있다.
df2['etc'] = 0
print(df2)

    name  score grade
0    Lee    100     A
1  Hwang     95     A
2    Kim     90     B
3   Choi     85     B
    name grade  score  etc
0    Lee     A    100  NaN
1  Hwang     A     95  NaN
2    Kim     B     90  NaN
3   Choi     B     85  NaN
0      Lee
1    Hwang
2      Kim
3     Choi
Name: name, dtype: object
0      Lee
1    Hwang
2      Kim
3     Choi
Name: name, dtype: object
    name grade
0    Lee     A
1  Hwang     A
2    Kim     B
3   Choi     B
   etc   name
0  NaN    Lee
1  NaN  Hwang
2  NaN    Kim
3  NaN   Choi
    name grade  score  etc
0    Lee     A    100   11
1  Hwang     A     95   22
2    Kim     B     90   33
3   Choi     B     85   44
    name grade  score  etc
0    Lee     A    100    0
1  Hwang     A     95    0
2    Kim     B     90    0
3   Choi     B     85    0

In [67]:
import pandas as pd
import numpy as np
data = {'name':['Lee','Hwang','Kim','Choi'], 'score':[100,95,90,85], 'grade':['A','A','B','B']}
df2 = pd.DataFrame(data)
df2['etc'] = np.zeros(4)
print(df2)
# Series 객체를 이용하여 열 데이터를 추가할 수 있다.
points = pd.Series([1.5, 1.7, 2.4], index=[0,1,2])
print(points)
df2['points'] = points
print(df2)
# 연산을 통해 열 데이터를 추가할 수 있다.
df2['high_score'] = df2['score'] > 90
print(df2) # 연산 결과인 boolean 값이 저장된다

# loc() 함수를 이용하여 행 데이터를 추가할 수 있다.
# loc[행조건, 열조건]
df2.loc[5, :] = ['Su', 'C', 70, 0.0, 1.1, False]
print(df2)

# del 명령어를 이용하여 열 데이터를 삭제할 수 있다.
del df2['etc']
print(df2)

# drop 을 이용하여 행 데이터를 삭제할 수 있다.
new_obj = df2.drop(5) # 삭제되고 난 새로운 객체를 얻을 수 있다. 기존 데이터는 삭제되지 않는다.
print(df2) # 조회해보면 기존 데이터가 살아있는 것을 볼 수 있다.
print(new_obj) 
# 기존 객체의 데이터를 삭제하고 싶다면?
df2.drop(5, inplace=True)
print(df2)

    name  score grade  etc
0    Lee    100     A  0.0
1  Hwang     95     A  0.0
2    Kim     90     B  0.0
3   Choi     85     B  0.0
0    1.5
1    1.7
2    2.4
dtype: float64
    name  score grade  etc  points
0    Lee    100     A  0.0     1.5
1  Hwang     95     A  0.0     1.7
2    Kim     90     B  0.0     2.4
3   Choi     85     B  0.0     NaN
    name  score grade  etc  points  high_score
0    Lee    100     A  0.0     1.5        True
1  Hwang     95     A  0.0     1.7        True
2    Kim     90     B  0.0     2.4       False
3   Choi     85     B  0.0     NaN       False
    name score grade  etc  points  high_score
0    Lee   100     A  0.0     1.5        True
1  Hwang    95     A  0.0     1.7        True
2    Kim    90     B  0.0     2.4       False
3   Choi    85     B  0.0     NaN       False
5     Su     C    70  0.0     1.1       False
    name score grade  points  high_score
0    Lee   100     A     1.5        True
1  Hwang    95     A     1.7        True
2    Kim    90     B     2.4       False
3   Choi    85     B     NaN       False
5     Su     C    70     1.1       False
    name score grade  points  high_score
0    Lee   100     A     1.5        True
1  Hwang    95     A     1.7        True
2    Kim    90     B     2.4       False
3   Choi    85     B     NaN       False
5     Su     C    70     1.1       False
    name score grade  points  high_score
0    Lee   100     A     1.5        True
1  Hwang    95     A     1.7        True
2    Kim    90     B     2.4       False
3   Choi    85     B     NaN       False
    name score grade  points  high_score
0    Lee   100     A     1.5        True
1  Hwang    95     A     1.7        True
2    Kim    90     B     2.4       False
3   Choi    85     B     NaN       False